@model NFLTeams.Models.TeamListViewModel

<h2>Change User's Name</h2>

<form asp-action="Change" method="post">
    <div class="form-group">
        <label for="UserName">Type name here:</label>
        <input asp-for="UserName" class="form-control mb-3" placeholder="Type name here" />
    </div>

    <!-- You can code a link to the Home page here if needed -->

    <button type="submit" class="btn btn-primary">Change Name</button>
</form>